h5 {
  text-align: center;
  color: #006400;                           /* колір шрифту */
  background: #90EE90;                       /* колір фону (16-ричний формат)*/
  font-family: "Courier New", monospace;  /* шрифт */
  height: 13px;                           /* висота елементу */
  width: 550px;                             /* ширина елементу */
  border: solid #006400 3px;                /* стиль границі елементу */
  padding: 12px;                          /* відступ від границі елементу до його контенту*/
  margin: 12px;                           /* відступ від границі елементу до іншого елементу */
}
h1 {
  text-align: center;
  color: #006400;                           /* колір шрифту */
  background: #90EE90;                       /* колір фону (16-ричний формат)*/
  font-family: "Courier New", monospace;  /* шрифт */
  height: 305px;                           /* висота елементу */
  width: 550px;                             /* ширина елементу */
  border: solid #006400 3px;                /* стиль границі елементу */
  padding: 12px;                          /* відступ від границі елементу до його контенту*/
  margin: 12px;                           /* відступ від границі елементу до іншого елементу */
}
input {
        background: #90EE90;
        };